# Rust
/target
**/*.rs.bk
Cargo.lock

# python/pyo3
**/*env
**/*.egg-info
**/.pytest_cache
**/build
**/dist
**/__pycache__
**/.eggs
**/.tox/*
python/rogue_gym_python

# backup/debug files
**/#*
**/~*
*.out
*.scr